*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(54, 48, 98);
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 100px;
    color: rgb(245, 232, 199);
}
h3{
	text-align: center;
    text-transform: uppercase;
    font-weight: 50;
    font-size: 35px;
    color: rgb(245, 232, 199);
}
a{
    text-decoration: none;
    color:rgb(245, 232, 199);
}
main{
    height: 70%;
}
header{
	margin-bottom: 7vh;
}
footer{
    text-align: center;
    text-transform: capitalize;
    color: rgb(245, 232, 199);
}
.chapters{
    height: 6%;
	width: 40vw;
    padding: 2%;
	margin-bottom: 2rem;
    border-radius: 20px;
	display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 0px 20px #708aba;
    border:2px solid rgb(245, 232, 199);
	transition: ease-in .2s box-shadow,ease-in .2s background-color;
    text-shadow: 0 0 50px rgb(245, 232, 199);
}
.chapters:hover{
	background-color: rgb(67, 85, 133);
    box-shadow: 0px 0px 10px rgb(245, 232, 199);
}
.container{
    margin: 0 30% 2% 30%;
}
.glow{
	text-shadow: 0px 0px 100px rgb(245, 232, 199);
}
.under{
	text-decoration: underline 1px;
}
